.ld{
	position: fixed;
	left: 50px;
	border: dashed; 
	color: #000000; 
}
a{
	font-family: Florence, cursive;
	font-size: 20px;
	color: black;
	}
	
p{
	font-family: Florence, cursive;
	font-size: 20px;
	color: black;
	}
	
h1{
	font-family: Florence, cursive;
	font-size: 20px;
	color: black;
	}	

.v{
	position: fixed;
	left: 628px;
	border: dashed; 
	color: #00000;
}

.y{
	position: fixed;
	right: 50px;
	border: dashed; 
	color: #000000;
}

.g{
	position: fixed;
	left:633px;
	top:200px;
	border: dashed; 
	color: #000000;
}


html{
	cursor: pointer;
}

a:hover {
	color: red;
}

html {
    background: linear-gradient(45deg, #b4df5b 0%,#b4df5b 100%);
    padding: 10px;
    border: 1px solid #333;
}

audio{
	position:absolute;
	bottom: 25px;
}


